:root {
  --font-sm: 14px;
  --font-md: 16px;
  --dimgray-clr: #DEE2E6;
  --gray-clr: gray;
  --radius-12: 12px;
  --padding-12: 12px;
  --shadow-bg: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

::selection {
  background-color: #0d6efd;
  color: #fff;
}

.table-fs-sm {
  font-size: var(--font-sm);
}

.table-fs-md {
  font-size: var(--font-md);
}

.datepicker {
  border-right-color: transparent;
}

.gj-datepicker-bootstrap [role=right-icon] button {
  padding: 18px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.gj-datepicker-bootstrap [role=right-icon] button .gj-icon {
  font-size: 29px;
  top: 6px;
  left: 5px;
}


.select2-close-mask {
  z-index: 2099;
}

.select2-dropdown {
  z-index: 3051;
}

.bd-footer {
  margin-top: auto;
  padding: 2rem 0 0 0;
}

.paginate_button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #0d6efd;
  text-decoration: none;
  margin-right: .375rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.paginate_button.current {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}


.paginate_button.current:hover {
  opacity: .9;
}

.paginate_button.disabled {
  color: rgba(33, 37, 41, 0.75);
  background-color: #e9ecef;
  cursor: no-drop;
}


div.dataTables_wrapper div.dataTables_filter input {
  font-size: var(--font-sm);
  border-radius: 6px;
  padding: 4px;
  outline: none;
  border: 1px solid var(--gray-clr);
}

.bg-shadow {
  -webkit-box-shadow: var(--shadow-bg);
  -moz-box-shadow: var(--shadow-bg);
  box-shadow: var(--shadow-bg);
  padding: var(--padding-12);
  border-radius: var(--radius-12);
}

.dropdown-menu.show li:hover .dropdown-item {
  background-color: #0d6efd;
  color: #fff;
}